.alert {
  display: inline-block;
  padding: 0.25em 1em;
  margin-bottom: 0.5em;
  border-radius: _size(border-radius);
  font-size: 1.25em;

  &.info {
    background-color: #2ac2ac;//#b7e3e8;
    color: white;
  }
}
