ul.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: unset;
  list-style-type: none;

  li {
    padding: unset;
    margin: _size(element-margin);

    img {
      width: 20em;
      border-radius: _size(border-radius);
    }
  }

  @include breakpoint('<=medium') {
    li {
      img {
        width: 25em;
      }
    }
  }

  @include breakpoint('<=xsmall') {
    li {
      margin-left: 0;
      margin-right: 0;

      img {
        width: 100%;
      }
    }
  }
}
