<!DOCTYPE HTML>
<html>
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3300269-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-3300269-5');
  </script>

    <title>The Sole Market</title>
    <meta content="fresh, flowers, fresh flowers, floral, bundles, florence, alabama, florence alabama, shoals, flower arrangements, floral design, flower design, design" />
    <meta content="Bringing you beauty" name="description" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <script src="assets/javascript/zepto.min.js"></script>
    <script async defer type="text/javascript" src="https://plausible.io/js/plausible.js"></script>
    <script async defer id="sq-embed-js" src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
  </head>
  <body class="is-preload">

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Main -->
          <section id="main">
            <header>
              <span class="avatar"><img src="images/beauty-6.jpg" alt="" width=122 /></span>
              <h1>The Sole Market</h1>
              <p>— Bringing you beauty —</p>

              <nav>
                <ul>
                  <li><a href="/#about">About</a></li>
                  <li><a href="/#bundles">Bundles &amp; Bottles</a></li>
                  <li><a href="/#contact">Contact</a></li>
                </ul>
              </nav>
            </header>

            <hr>

            {{ content }}
          </section>

        <!-- Footer -->
          <footer id="footer">
            <ul class="copyright">
              <li>&copy; Sole, LLC</li>
              <li><a href="https://iamvery.com">iamvery</a></li>
              <li>Florence, AL</li>
            </ul>
          </footer>
      </div>

    <!-- Scripts -->
      <script>
        if ('addEventListener' in window) {
          window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
          document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
        }
      </script>
      <script src="assets/javascript/reveal.js"></script>
  </body>
</html>
